In [1]:
# Convert numpy array into pandas series
import pandas as pd
import numpy as np

data = np.array(['a', 'b', 'c', 'd', 'e', 'f'])

series1 = pd.Series(data)
print(series1)  # Added parentheses to actually print the series

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [2]:
# Creating a series from a list
import pandas as pd

data1 = ['Agnes', 'Ambrose', 'Rita', 'Peter', 'Samson']

Ser = pd.Series(data1)  # Corrected assignment operator from '-' to '='
print(Ser)

0      Agnes
1    Ambrose
2       Rita
3      Peter
4     Samson
dtype: object

In [3]:
# Create a series from a dictionary
import pandas as pd

data_Dict = {'Age': 20, 'Name': 'Stone', 'Country': 'Uganda'}

ser = pd.Series(data_Dict)
print(ser)

Age            20
Name        Stone
Country    Uganda
dtype: object

In [4]:
# Create a series using range() function
import pandas as pd

ser = pd.Series(range(5, 15))  # Creates a Series with values from 5 to 14
print(ser)

0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
8    13
9    14
dtype: int64

In [5]:
# Creating a Series with numpy.linspace()
import pandas as pd
import numpy as np

Ser1 = pd.Series(np.linspace(1, 10, 5))  # Creates 5 evenly spaced numbers between 1 and 10
print(Ser1)

0     1.00
1     3.25
2     5.50
3     7.75
4    10.00
dtype: float64

In [6]:
import numpy as np
import pandas as pd

Ser1 = pd.Series(np.linspace(1, 10, 5, endpoint=False))
print(Ser1)

0    1.0
1    2.8
2    4.6
3    6.4
4    8.2
dtype: float64

In [12]:
import pandas as pd

# Sample Series
series1 = pd.Series([4, 65, 436, 3, 9])
series2 = pd.Series([7, 0, 3, 897, 9])

# Compare elements
print("Equal:", series1 == series2)
print("Greater than:", series1 > series2)
print("Less than:", series1 < series2)

Equal: 0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than: 0    False
1     True
2     True
3    False
4    False
dtype: bool
Less than: 0     True
1    False
2    False
3     True
4    False
dtype: bool

In [11]:
import pandas as pd

# Sample Series
series1 = pd.Series([2, 4, 6, 8, 14])
series2 = pd.Series([1, 3, 5, 7, 9])

# Arithmetic operations
print("Addition:", series1 + series2)
print("Subtraction:", series1 - series2)
print("Multiplication:", series1 * series2)
print("Division:", series1 / series2)

Addition: 0     3
1     7
2    11
3    15
4    23
dtype: int64
Subtraction: 0    1
1    1
2    1
3    1
4    5
dtype: int64
Multiplication: 0      2
1     12
2     30
3     56
4    126
dtype: int64
Division: 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

In [7]:
import pandas as pd

# Sample dictionary
dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}

# Convert to Series
series = pd.Series(dictionary1)
print(series)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In [10]:
import pandas as pd
import numpy as np

# Sample Series
series = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])

# Convert to array
array = series.values
print(array)

['Love' 800 'Joy' 789.9 'Peace' True]

In [9]:
import pandas as pd

# Sample data (replace with actual dataset)
data = {'HomeTeamGoals': [2, 1, 2, 3, 2, 1, 4, 2, 2, 3]}
series = pd.Series(data['HomeTeamGoals'])

# Find most frequent value
most_frequent = series.mode()[0]
print("Most frequent value:", most_frequent)

# Replace others with 'Other'
modified_series = series.where(series == most_frequent, 'Other')
print(modified_series)

Most frequent value: 2
0        2
1    Other
2        2
3    Other
4        2
5    Other
6    Other
7        2
8        2
9    Other
dtype: object